<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rock, Paper, Scissors, Lizard, Spock</title>
</head>

<body>
    <div class="box">
        <header>Rock, Paper, Scissors, Lizard, Spock</header>
        <hr>
        <div class="container">

            <h1>Choose a weapon <%= name %>!</h1>
            <div class="weapons">
                <form action="/winner" method="post">
                    <input id="rock" class="button" type="submit" value="rock" name="weapon">
                    <input id="paper" class="button" type="submit" value="paper" name="weapon">
                    <input id="scissors" class="button" type="submit" value="scissors" name="weapon">
                    <input id="lizard" class="button" type="submit" value="lizard" name="weapon">
                    <input id="spock" class="button" type="submit" value="Spock" name="weapon">
                </form>
            </div>
        </div>
        <hr>
        <footer>

            <span>This extended version of rock, paper, scissors, follows rules which can be found <span><a
                        href="https://en.wikipedia.org/wiki/Rock_paper_scissors#Additional_weapons"
                        target="blank">here.</a></span> </span>
        </footer>
    </div>

</body>

</html>